.userCard {
  position: relative;
width:500px;
  margin: 60px auto 0 auto;
  
 
  font-family: "Kalam", cursive;

}

.UserList {
  position: relative;
  margin: 0px;
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
